{% extends "_base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-7">
        <h2>Select an Image</h2>
        <br>
        <div class="query">
            <div class="row">
                <div class="col-md-6">
                    <p><img src="https://mk-main.sgp1.digitaloceanspaces.com/cbir-dataset/example/example/banana1.jpeg" alt=""></p>
                </div>
                <div class="col-md-6">
                    <p><img src="https://mk-main.sgp1.digitaloceanspaces.com/cbir-dataset/example/example/fish1.jpeg" alt=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><img src="https://mk-main.sgp1.digitaloceanspaces.com/cbir-dataset/example/example/cat1.jpeg" alt=""></p>
                </div>
                <div class="col-md-6">
                    <p><img src="https://mk-main.sgp1.digitaloceanspaces.com/cbir-dataset/example/example/plane1.jpeg" alt=""></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <h2>Results</h2>
        <br>
        <p id="searching">Searching...</p>
        <p id="error">Oh no! No results! Check your internet connection.</p>
        <br><br>
        <table class="table " id="results-table" style="display = results-table !important">
            <thead>
            <tr>
                <th>Image</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>

</div>

<br>

{% endblock %}